@page
@model IndexModel
@{
    ViewData["Title"] = "Chat App";
}

<div class="text-center">
    <h1 class="display-4">Chat-App</h1>
    <p><a href="/Register">Register here</a> or <a  href="/LogIn">Log In</a></p>
</div>
