@page
@model LogInModel
@{
    ViewData["Title"] = "Chat App - LogIn";
}
<div class="text-center">
    <h1 class="display-4">Chat-App Login</h1>
    <form method="post">
        Login:
        <input type="text" asp-for="AppUser.Name" />
        Password:<input type="password" asp-for="AppUser.Password" />
        <input type="submit" value="LogIn" /><br/><br/>
        <font color="red">@ViewData["LogInFeedback"]</font>
    </form>
</div>

